*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}

:root{
    --bg-color:#080808;
    --secondary-bg-color:#1b0000;
    --secondary-text-color : #b74b4b;
    --text-color : rgb(233, 227, 227);
    --main-color : #f60b0b;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem 12% 3rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}

.hidden {
    display: none;
}



.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a.active
{
    color: var(--secondary-text-color);
    border-bottom: 3px solid var(--secondary-text-color)
} 
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}


section {
    /* min-height: 100vh; */
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    justify-content: center;
}
span {
    color: var(--main-color);
}
.logo span {
    color: var(--main-color);
}
.home-content h3 {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}



.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
    text-wrap: nowrap;
}
.text-animation span::before{
    content:"Web Developer";
    color:var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content:"";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to{
       border-left: 2px solid var(--main-color); 
    }
}
@keyframes words{
    0%,
    100%{
        content: "Développeur Web Junior";
    }
    

}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10rem;
    background: var(--secondary-bg-color);
    color: var(--text-color);
}
.about-img{
    border-radius: 50%;
}

.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color),
}
.heading{
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0;
}
.about-content h2 {
    text-align: left;
    line-height: 1.5;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}
.about .heading {
    margin: 0;
}

.about-content .text-animation span::before{
    content:"Web Developer";
    color:var(--main-color);
    animation: words 20s infinite;
}
.about-content .text-animation span::after{
    content:"";
    background-color: var(--secondary-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}
.technologies {
    background: var(--bg-color);
    color: black;
}
.technologies

h2 {
    margin-bottom: 5rem;
    color: var(--text-color);
}
.technologie-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.technologie-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 250px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.technologie-box:hover {
    background: var(--secondary-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.technologie.box  {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
}
.technologie-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
}
.technologie-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.technologie-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.technologie-info i{
    font-size: 8rem;
}

.projects{
    background: url(./images/background.jpg)center no-repeat;
    background-size: cover;
}
.projects-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 2rem;
    row-gap: 3rem;
}
.project-card {
    height: 450px;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Assure que le contenu soit bien espacé */
    text-align: center;
    gap: 2rem;
    padding: 2rem; /* Réduis les marges pour éviter trop de vide */
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.4s ease;
}

.project-card img {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* L'image remplira l'espace sans être déformée */
}

.project-card h3 {
    font-size: 3rem;
}

.project-card p {
    font-size: 1.4rem;
}

.project-card:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--secondary-bg-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 5px 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}






/* Responsive design pour les petits écrans */
@media(min-width: 1200px){
    .navbar a:hover
    {
        color: var(--secondary-text-color);
        border-bottom: 3px solid var(--secondary-text-color)
    } 
}



@media (max-width: 1200px) {
    .home {
        gap: 10rem; /* Réduire l'écart entre le texte et l'image */
    }

    .home-content h1 {
        font-size: 5rem; /* Réduire la taille de la police sur des écrans moyens */
    }

    .home-content h3 {
        font-size: 2.8rem; /* Taille du sous-titre */
    }

    .home-img img {
        width: 40vw; /* Réduire la taille de l'image */
        
    }

    .about {
        gap: 5rem; /* Réduire l'écart */
    }

    .technologie-container {
        grid-template-columns: repeat(2, 1fr); /* Utiliser 2 colonnes pour les technologies */
    }

    .projects-box {
        grid-template-columns: repeat(2, 1fr); /* Utiliser 2 colonnes pour les projets */
    }

    .project-card {
        height: 500px; /* Réduire la hauteur des cartes de projet */
    }

    .technologie-box, .technologie-info, .project-card {
        padding: 2rem; /* Réduire les espacements internes */
    }
}

@media (max-width: 768px) {
    /* Pour les écrans de taille moyenne (tablettes) */
    .header {
        padding: 2rem 5%; /* Ajuster le padding pour la barre de navigation */
    }

    .navbar a {
        font-size: 1.4rem; /* Réduire la taille de la police pour le menu */
        margin-left: 2rem; /* Réduire l'espacement entre les liens du menu */
    }

    

    .home {
        flex-direction: column; /* Disposer le texte et l'image en colonne */
        gap: 5rem; /* Réduire l'écart */
    }

    .home-content h1 {
        font-size: 4rem; /* Taille réduite du titre */
    }

    .home-content h3 {
        font-size: 2.4rem; /* Ajuster la taille du sous-titre */
    }

    .home-img img {
        width: 50vw; /* Réduire la taille de l'image */
    }

    .about {
        flex-direction: column; /* Disposition en colonne */
        gap: 3rem; /* Réduire l'écart */
    }

    .about-img img {
        width: 60vw; /* Ajuster la taille de l'image */
    }

    .technologies {
        padding: 5rem 5%;
    }

    .technologie-container {
        grid-template-columns: 1fr; /* Passer à une colonne sur les petits écrans */
    }

    .project-card img {
        width: 80%; /* Ajuster la taille des images des projets */
    }

    .projects-box {
        grid-template-columns: 1fr; /* Passer à une colonne sur les petits écrans */
    }

    .footer .list {
        font-size: 19px; 
    }

    .footer ul li{
        display: inline-block;
        padding: 5px 15px;
    }
   
}

@media (max-width: 480px) {
    /* Pour les petits écrans (téléphones) */
    .header {
        padding: 2rem 3%; /* Ajuster les espacements */
    }

    .logo {
        font-size: 2.5rem; /* Réduire la taille du logo */
    }

    .navbar {
        display: none; /* Cacher le menu de navigation pour les petits écrans */
    }

    #menu-icon {
        display: block; /* Afficher l'icône du menu hamburger */
    }

    .hidden{
        visibility: hidden;
    }

    .navbarMobile{
        position: fixed;
        top: 45px;
        right: 30px;
        width: 20vw;
        height: 20vh;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transition: 0.3s ease;
    }

    .navbarMobile a {
        font-size: 1.4rem;
        color: var(--text-color);
    }
    

    .home {
        gap: 3rem;
        text-align: center; /* Centrer le texte et l'image */
    }

    .home-content h1 {
        font-size: 3.5rem; /* Taille réduite */
    }

    .home-content h3 {
        font-size: 2rem; /* Taille réduite */
    }

    .home-img img {
        width: 60vw; /* Ajuster la taille de l'image */
    }

    .about, .technologies, .projects {
        padding: 5rem 3%; /* Réduire le padding */
    }

    .technologie-container {
        grid-template-columns: 1fr; /* Passer à une colonne pour les technologies */
    }

    .project-card {
        max-width: 90%; /* Réduire la largeur des cartes */
    }

    .footer .list {
        font-size: 16px; 
    }
    .footer ul li{
        display: inline-block;
        padding: 5px 15px;
    }


}
